body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
.header {

    background-color: #2D4F62;
}
.header__wrap {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__menu_ul {
    display: flex;
    justify-content: space-between;
}

.header__menu_li {
    color: #ffffff;
    list-style: none;
    margin-right: 20px;
}

.product-item {
    width: 200px;
    height: 300px;
    border: 1px solid #2D4F62;
    border-radius: 4px ;
    background-color: #ffffff;
}

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.product-wrap {
    padding: 10px;
}

.product-button {
    width: 100%;
}

main {
    background-color: #e4f3fa;
}